@import url(normalizer.css);
@import url(reset.css);

:root{
    --color-primario:#FFCE3D;
    --color-secundario:#FFFFFF;
    --color-texto:#000000;

    --btn-color-fondo:var(--color-primario);
    --btn-color-fondosegundoboton:var(--color-secundario);
    --btn-color-texto:var(var(--color-texto));

    --color-fondo:var(--color-secundario);
    --color-texto:var(--color-texto);

    --border-radius-fondo:40px;
    --borde-radius-boton: calc(var(--border-radius-fondo)/2);
/* falata el de la fuente de las letras*/
/*import de las fuentes  habia 4 y el css*/



  
/*empezamos de 0 aqui seria maian parte de abajo*/

header{ 
    height:80dvh ;
    background-color: #FFCE3D;
    display: flex;
    align-items: center;
    justify-content: center;

    & .heroe{
        gap: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background-color:var(--color-secundario);
        border-radius: 5px;
        width: 80%;
        max-width: 1000px;
        padding: 50px 50px 50px 50px;
   
    }
}
main{
padding:20px ; 

  &.flores__main{
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}
}
